In [ ]:
# ex4-1.py
for x in range(5) :
    print('안녕하세요.')

In [ ]:
# ex4-2.py
x = 0
while x < 5 :
    print('안녕하세요.')
    x += 1

In [ ]:
# ex4-3.py
sum = 0

for i in range(1, 11) :
    sum += i
    print('i의 값 : %d, 합계 : %d' % (i, sum))

In [ ]:
# ex4-4.py
for i in range(10) :
    print(i, end =' ')
print()

for i in range(1, 11) :
    print(i, end =' ')
print()

for i in range(1, 10, 2) :
    print(i, end =' ')
print()

for i in range(20, 0, -2) :
    print(i, end =' ')

In [ ]:
# ex4-5.py
sum = 0
for i in range(1, 101) :
    if i%3 == 0 :
        print('%d' % i, end = ' ')
        sum += i

print('\n','-' * 50)
print('1~100에서 3의 배수의 합계 : %d' % sum)

문자열

In [1]:
len("안녕세요")

4

In [2]:
msg = "안녕세요"
msg[:2]

'안녕'

```
for s in range(), '문자열'.....   # Iterable object
```

In [3]:
for s in msg:
    print(s)

안
녕
세
요

In [ ]:
# ex4-6.py
word = input('영어 문장을 입력하세요 : ') 

for x in word : 
    print(x)

for 반복문으로 단위환산표!

In [4]:
# ex4-7.py
print('-' * 30) 
print('    섭씨     화씨')
print('-' * 30) 

for c in range(-20, 31, 5) : 
    f = c * 9.0/ 5.0 + 32.0 
    print('%8d  %6.1f' % (c, f))   
     
print('-' * 30)

------------------------------
    섭씨     화씨
------------------------------
     -20    -4.0
     -15     5.0
     -10    14.0
      -5    23.0
       0    32.0
       5    41.0
      10    50.0
      15    59.0
      20    68.0
      25    77.0
      30    86.0
------------------------------

#### 5의 배수가 아닌수와 합계를 출력!

In [3]:
# Q4-1.py
n1 = int(input('시작 수를 입력하세요 : '))
n2 = int(input('끝 수를 입력하세요 : '))

sum = 0
for i in range(n1, n2+1) :
    if i%5 != 0 :
        sum += i

print('-' * 50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' % (n1, n2, sum))

시작 수를 입력하세요 : 100
끝 수를 입력하세요 : 200
--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계 : 12000

예외)
 - 5의 배수 출력중 합이 210을 넘으면 종료

#### 전화번호에서 '-' 제거

In [9]:
# Q4-2.py
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ') 

for x in number :
    if x != '-' :
        print(f'{x}', end='')

하이픈(-)을 포함한 휴대폰 번호를 입력하세요:  234-1234--4444

23412344444

문자열 메서드:
https://seongjaemoon.github.io/python/2017/12/05/pythonStringFormat.html

In [10]:
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ') 
if not number:
    print("전화번호를 입력해야 합니다.")
else:
    print(number.split('-'))
    print("".join(number.split('-')))

하이픈(-)을 포함한 휴대폰 번호를 입력하세요:  1234-09988-4444=234234==23423442

['1234', '09988', '4444=234234==23423442']
1234099884444=234234==23423442

#### 전화번호에 '-' 추가

In [1]:
# Q4-3.py
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: ') 

number = '';
for i in range(0, len(phone)) :
    if i == 2 :
        number = number + (phone[2]+'-')
    elif i == 6 :
        number = number + (phone[6]+'-')
    else :
        number = number + phone[i]

print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: 01033334444
010-3333-4444

In [15]:
phone = "010-222-3333"
phone[:3]+'-'+phone[4:7]+'-'+phone[8:len(phone)]

'010-222-3333'

#### 인덱스를 사용해 위 전화번호를 역으로 출력해 보시오!

In [ ]:
phone = "010-222-3333"

길이단위 변환

In [13]:
# Q4-4.py
print('-' * 60) 
print('센티미터(cm) 인치(inch)   피트(ft)    야드(yd)')
print('-' * 60) 

for cm in range(10, 201, 10) : 
    inch = cm * 0.393701 
    ft = cm * 0.032808
    yd = cm * 0.010936
    print('%8d  %10.1f %10.1f  %10.1f' % (cm, inch, ft, yd))   
     
print('-' * 60)

------------------------------------------------------------
센티미터(cm) 인치(inch)   피트(ft)    야드(yd)
------------------------------------------------------------
      10         3.9        0.3         0.1
      20         7.9        0.7         0.2
      30        11.8        1.0         0.3
      40        15.7        1.3         0.4
      50        19.7        1.6         0.5
      60        23.6        2.0         0.7
      70        27.6        2.3         0.8
      80        31.5        2.6         0.9
      90        35.4        3.0         1.0
     100        39.4        3.3         1.1
     110        43.3        3.6         1.2
     120        47.2        3.9         1.3
     130        51.2        4.3         1.4
     140        55.1        4.6         1.5
     150        59.1        4.9         1.6
     160        63.0        5.2         1.7
     170        66.9        5.6         1.9
     180        70.9        5.9         2.0
     190        74.8        6.2         2.1
     200        78.7        6.6         2.2
------------------------------------------------------------

In [20]:
# Q4-5.py
print('-' * 40) 
print('킬로그램(kg) 파운드(lb)   온스(oz)')
print('-' * 40) 

for kg in range(10, 101, 5) : 
    lb = kg * 2.204623
    oz = kg * 35.273962
    print('%8d  %10.1f %10.1f' % (kg, lb, oz))   
     
print('-' * 40)

----------------------------------------
킬로그램(kg) 파운드(lb)   온스(oz)
----------------------------------------
      10        22.0      352.7
      15        33.1      529.1
      20        44.1      705.5
      25        55.1      881.8
      30        66.1     1058.2
      35        77.2     1234.6
      40        88.2     1411.0
      45        99.2     1587.3
      50       110.2     1763.7
      55       121.3     1940.1
      60       132.3     2116.4
      65       143.3     2292.8
      70       154.3     2469.2
      75       165.3     2645.5
      80       176.4     2821.9
      85       187.4     2998.3
      90       198.4     3174.7
      95       209.4     3351.0
     100       220.5     3527.4
----------------------------------------

#### 홀수 숫자 세기

In [23]:
# Q4-6.py
number = input('숫자를 입력하세요 : ') 

total = 0 

for a in number : 
   a = int(a) 
   if a % 2 == 1 : 
      total += 1 

print('입력된 숫자 중 홀수의 개수 : %d개' % total)

숫자를 입력하세요 : 3049894
입력된 숫자 중 홀수의 개수 : 3개

In [ ]:
# ex4-8.py
a = 2 

for b in range(1, 10) :
    c = a * b
    print('%d x %d = %d' % (a, b, c))

In [16]:
# ex4-9.py
print('-' * 50)

for a in range(2, 10) :         
    for b in range(1, 10) :
        c = a * b
        print('%d x %d = %d' % (a, b, c))
           
    print('-' * 50)

--------------------------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

#### 앞의 구구단 코드를 *입력된 숫자* 맞는 구구단을 출력하도록 수정해 보자.

In [26]:
# Q4-7.py
for i in range(1,11) :
    for j in range(1, i+1) :
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [27]:
# Q4-8.py
for i in range(1,11) :
    for j in range(1, 10-i+1) :
        print(' ', end='')
    for k in range(1, i+1) :
        print('*', end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [20]:
num = int(input("숫자를 입력:"))
for i in range(1, num):
    print(" " * (num-i), "*"*(2*i-1))

숫자를 입력: 10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

#### 문) 입력된 숫자의 2의 배수 피라미드

In [22]:
num = int(input("숫자:"))

for i in range(1, num+2):
    a = 1
    for j in range(1, i):
        print(a, end='\t')
        a = int(a*2)
    a = int(a/4)
    for j in range(1, i-1):
        print(a, end='\t')
        a = int(a/2)
    print()

숫자: 10

1
1	2	1
1	2	4	2	1
1	2	4	8	4	2	1
1	2	4	8	16	8	4	2	1
1	2	4	8	16	32	16	8	4	2	1
1	2	4	8	16	32	64	32	16	8	4	2	1
1	2	4	8	16	32	64	128	64	32	16	8	4	2	1
1	2	4	8	16	32	64	128	256	128	64	32	16	8	4	2	1
1	2	4	8	16	32	64	128	256	512	256	128	64	32	16	8	4	2	1

# While

In [ ]:
# ex4-10.py
sum = 0
i = 1

while i <= 10 :
    sum += i
    print('i의 값 : %d => 합계 : %d' % (i, sum))
    i += 1

In [ ]:
# ex4-11.py
n1 = int(input('첫 수를 입력하세요 : '))
n2 = int(input('끝 수를 입력하세요 : '))
n = int(input('합계를 구하고자 하는 배수를 입력하세요 : '))

sum = 0
i = n1

while i < n2+1 :
    if i%n == 0 :
        sum += i

    i += 1
    
print('%d~%d까지의 정수 중 %d의 배수의 합계 : %d' % (n1, n2, n, sum))

#### 문) 섭씨 온도 화씨 변환 표

In [34]:
# Q4-9.py
print('-' * 30) 
print('     섭씨     화씨')
print('-' * 30) 

c = -20
while c < 41 :
    f = c * 9.0/ 5.0 + 32.0 
    print('%8d  %8.1f' % (c, f))

    c +=1
     
print('-' * 30)

------------------------------
     섭씨     화씨
------------------------------
     -20      -4.0
     -19      -2.2
     -18      -0.4
     -17       1.4
     -16       3.2
     -15       5.0
     -14       6.8
     -13       8.6
     -12      10.4
     -11      12.2
     -10      14.0
      -9      15.8
      -8      17.6
      -7      19.4
      -6      21.2
      -5      23.0
      -4      24.8
      -3      26.6
      -2      28.4
      -1      30.2
       0      32.0
       1      33.8
       2      35.6
       3      37.4
       4      39.2
       5      41.0
       6      42.8
       7      44.6
       8      46.4
       9      48.2
      10      50.0
      11      51.8
      12      53.6
      13      55.4
      14      57.2
      15      59.0
      16      60.8
      17      62.6
      18      64.4
      19      66.2
      20      68.0
      21      69.8
      22      71.6
      23      73.4
      24      75.2
      25      77.0
      26      78.8
      27      80.6
      28      82.4
      29      84.2
      30      86.0
      31      87.8
      32      89.6
      33      91.4
      34      93.2
      35      95.0
      36      96.8
      37      98.6
      38     100.4
      39     102.2
      40     104.0
------------------------------

#### 문) 3의 배수가 아닌 수 출력!

In [38]:
# Q4-10.py
i = 200
count = 0
while i < 601 :
    if i % 3 != 0 :
        print('%d ' % i, end='')
        count += 1
        if count % 8 == 0 :
            print()
    i += 1

200 202 203 205 206 208 209 211
212 214 215 217 218 220 221 223
224 226 227 229 230 232 233 235
236 238 239 241 242 244 245 247
248 250 251 253 254 256 257 259
260 262 263 265 266 268 269 271
272 274 275 277 278 280 281 283
284 286 287 289 290 292 293 295
296 298 299 301 302 304 305 307
308 310 311 313 314 316 317 319
320 322 323 325 326 328 329 331
332 334 335 337 338 340 341 343
344 346 347 349 350 352 353 355
356 358 359 361 362 364 365 367
368 370 371 373 374 376 377 379
380 382 383 385 386 388 389 391
392 394 395 397 398 400 401 403
404 406 407 409 410 412 413 415
416 418 419 421 422 424 425 427
428 430 431 433 434 436 437 439
440 442 443 445 446 448 449 451
452 454 455 457 458 460 461 463
464 466 467 469 470 472 473 475
476 478 479 481 482 484 485 487
488 490 491 493 494 496 497 499
500 502 503 505 506 508 509 511
512 514 515 517 518 520 521 523
524 526 527 529 530 532 533 535
536 538 539 541 542 544 545 547
548 550 551 553 554 556 557 559
560 562 563 565 566 568 569 571
572 574 575 577 578 580 581 583
584 586 587 589 590 592 593 595
596 598 599

영어 문장에 포함된 모음의 개수를 세고 출력하시오

In [ ]:
# ex4-12.py
s = input('영어 문장을 입력하세요 :')

i = 0
count = 0

print('모음 : ', end = '')

while i <= len(s) - 1 :
    if (s[i] == 'a' or s[i] == 'A'  or s[i] == 'e' or s[i] == 'E' \
        or  s[i] == 'i' or s[i] == 'I' or s[i] == 'o' or s[i] == 'O' \
        or s[i] == 'u' or s[i] == 'U') :
        count += 1
        print(s[i], end=' ')
        
    i += 1
    
print('\n모음의 개수 : %d' % count)

In [ ]:
lower = "aAeEiIoOuU"

#### 문) 위 알파벳 소문자 세기 문제를 string 메서드에서 isalpha, islower 를 사용해서 구현해 보시오.

https://seongjaemoon.github.io/python/2017/12/05/pythonStringFormat.html

In [ ]:
# ex4-13.py
for i in range(1, 1001) :
    print(i)

    if i == 10 :
        break