# 파이썬 프로그래밍

In [1]:
1 + 1

2

In [1]:
# 입력

kor = 90               # 대입
eng = 100

test = 90 + 100        # 연산
sum = kor + eng        # 연산
avg = sum / 2

print('합계:', sum)     # 출력
print('평균:', avg)

합계: 190
평균: 95.0

In [3]:
variable = 1234256       # 숫자
variable2 = "하나둘셋"    # 문자

In [4]:
variable

1234256

In [5]:
variable2

'하나둘셋'

In [6]:
variable = variable2     # 
variable

'하나둘셋'

In [ ]:
variable + variable2

In [8]:
v = 100 + 1000
v

1100

In [9]:
!abc = 100

'abc'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [10]:
@abc

SyntaxError: unexpected EOF while parsing (<ipython-input-10-114f054aae2a>, line 1)

In [11]:
age = 100
Age = -100

In [16]:
age = 100

In [17]:
Age = -100

In [19]:
age, Age

(100, -100)

In [20]:
age

100

In [21]:
Age

-100

In [22]:
print(age, Age)

100 -100

In [14]:
age = 100, Age = 100

SyntaxError: can't assign to literal (<ipython-input-14-0535e49a4293>, line 1)

In [23]:
age = 100; Age = 100

In [26]:
x = 20
x

20

In [28]:
Computer = 'Mac, Windows'

In [29]:
Computer = 1

In [30]:
x, Computer, age, Age

(20, 1, 100, 100)

In [31]:
print(x, Computer, age, Age)

20 1 100 100

In [33]:
Computer = 20.4
Computer

20.4

In [34]:
eng score = 20

SyntaxError: invalid syntax (<ipython-input-34-718822a1fe17>, line 1)

In [35]:
7font = 'fff'

SyntaxError: invalid syntax (<ipython-input-35-c18e503a5052>, line 1)

In [36]:
my_age = 20

In [37]:
percent% = 10

SyntaxError: invalid syntax (<ipython-input-37-87aa47a89d43>, line 1)

In [38]:
animal# = 100

NameError: name 'animal' is not defined

### 숫자

In [39]:
i = 10
j = 100
k = -10000

In [40]:
i, j, k

(10, 100, -10000)

In [41]:
f = -3000.4
f

-3000.4

In [42]:
f = 0.0
f

0.0

In [44]:
1 + 3j

(1+3j)

In [46]:
print = 1
print

1

In [47]:
print("aaaa")

TypeError: 'int' object is not callable

In [48]:
type(1)

int

In [49]:
type(1.0)

float

In [50]:
type('AAAAA')

str

In [51]:
type(1+4j)

complex

In [52]:
type(1e3)

float

In [53]:
1e3

1000.0

In [54]:
1e3, 3.33333, 6/5

(1000.0, 3.33333, 1.2)

In [55]:
type(6/5)

float

# 문자열

In [56]:
#문자열 리터럴

str = "안녕"
str = '안녕'
str

'안녕'

In [57]:
type(str)

str

In [58]:
a = 30
b = '30'

In [59]:
type(a), type(b)

(int, str)

In [60]:
x = 'I am happy'
x

'I am happy'

In [62]:
len(x)

10

In [64]:
x[0],x[1],x[2]

('I', ' ', 'a')

In [65]:
x[len(x)-1]

'y'

In [66]:
x[-1]

'y'

In [68]:
# 인덱스 범위
x[4:8]

' hap'

In [69]:
x[4:]

' happy'

In [70]:
x[-4:] # 'I am happy'

'appy'

In [72]:
x[-4:-2]

'ap'

In [73]:
x[:-2]

'I am hap'

## Bool

In [74]:
True

True

In [75]:
False

False

In [76]:
10 > 20

False

In [77]:
10 > 20 == True

False

In [79]:
type(True), type(False)

(bool, bool)

# 연산자

산술 연산자: `+,-,*,/, %, //, **`

In [80]:
a = 10
b = 20

In [81]:
c = a + b * 10 - 5/5
c

209.0

In [82]:
10 % 3

1

In [83]:
7 // 3

2

In [84]:
7 ** 2

49

In [85]:
7 ** 0

1

`+=, -=, *=, /=, //=, %=`

In [86]:
x = 10
x += 10
x

20

In [87]:
x -= 10
x

10

In [88]:
x *= 2
x

20

In [89]:
x /= 2
x

10.0

In [90]:
10 * 10

100

In [91]:
10 / 2

5.0

In [92]:
x //= 2
x

5.0

In [93]:
x %= 2
x

1.0

### 숫자 형식별 연산!

In [94]:
10 * 10

100

In [95]:
10 / 2

5.0

In [96]:
10.0 / 2

5.0

In [97]:
10.0 / 2.0

5.0

In [98]:
10.0 * 2

20.0

In [99]:
10 / 0

ZeroDivisionError: division by zero

In [100]:
0 / 10

0.0

In [101]:
10.0 - 2

8.0

In [102]:
10.0 + 2

12.0

### 문자열의 연산자 : `*, +`

In [103]:
"호" * 100

'호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호'

In [104]:
"--" * 100

'--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

In [105]:
"호" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [106]:
a = "호"
b = "빵"
a + b      #결합 concatenating

'호빵'

In [107]:
a + 1000

TypeError: must be str, not int

In [108]:
a * 10

'호호호호호호호호호호'

In [114]:
a + str(10)

'호10'

In [115]:
a = '100'
100 * int(a)

10000

name = "홍길동"
print("내 이름은 ... 입니다.")

In [118]:
name = "홍길동"
print("내 이름은 " + name + " 입니다.")

내 이름은 홍길동 입니다.

In [119]:
print("내 이름은 %s 입니다." % name)

내 이름은 홍길동 입니다.

In [120]:
name = '홍길동'
addr = '서울'

print("내 이름은 %s 이고, 주소는 %s 입니다." % (name, addr) )

내 이름은 홍길동 이고, 주소는 서울 입니다.

In [121]:
print("내 이름은 %s 이고, 주소는 입니다." % (name, addr) )

TypeError: not all arguments converted during string formatting

In [122]:
print("내 이름은 %s 이고, 주소는 %s 입니다." % (name) )

TypeError: not enough arguments for format string

In [123]:
age = 1000
print("내 이름은 %s 이고, 주소는 %s 이고 나이는 %d" % (name, addr, age) )

내 이름은 홍길동 이고, 주소는 서울 이고 나이는 1000

#### .format()

In [124]:
"내 이름은 {} 이고, 주소는 {} 이고 나이는 {}".format(name, addr, age)

'내 이름은 홍길동 이고, 주소는 서울 이고 나이는 1000'

In [125]:
"내 이름은 {0} 이고, 주소는 {2} 이고 나이는 {1}".format(name, age, addr)

'내 이름은 홍길동 이고, 주소는 서울 이고 나이는 1000'

## 문자열 객체

In [126]:
a = "옹"
type(a), type("홍")

(str, str)

In [127]:
"abc".upper()

'ABC'

In [129]:
"aBcDDDefg".swapcase()

'AbCdddEFG'

In [130]:
"aBcDDDefg".capitalize()

'Abcdddefg'

In [132]:
len(" dbc ssdflk ")

12

In [131]:
" dbc ssdflk ".strip()

'dbc ssdflk'

In [134]:
" dbc ssdflk\n\r".strip()

'dbc ssdflk'

In [133]:
len(" dbc ssdflk ".strip())

10

In [135]:
" dbc ssdflk\n\r".lstrip()

'dbc ssdflk\n\r'

In [136]:
" dbc ssdflk\n\r".rstrip()

' dbc ssdflk'

In [137]:
" dbc ssdflk\n\r".replace('ss', 'kk')

' dbc kkdflk\n\r'

In [138]:
" dbc ssdflk\n\r".replace('s', 'kk')

' dbc kkkkdflk\n\r'

In [139]:
" dbc ssdflk\n\r".find("ss")

5

In [140]:
smg = ['a', 'b', 'c']  # 리스트
"#".join(smg)

'a#b#c'

In [141]:
"010-1111-99999".split("-")

['010', '1111', '99999']

### 프린트

In [142]:
print("010", 1111, "9999", sep="-")

010-1111-9999

In [144]:
print("2020", "12", "2", sep="/")

2020/12/2

In [145]:
print("2020{}12{}2".format("/","/"))

2020/12/2

In [149]:
print("안녕")
print("응...")
print("안녕하세요", end="\n\n\n")
print("응...")

안녕
응...
안녕하세요


응...

In [150]:
print("안녕")
print("응...")
print("안녕하세요\n\n\n")
print("응...")

안녕
응...
안녕하세요



응...

In [152]:
abc = None

In [153]:
type(abc)

NoneType

# 입력

In [155]:
name = input("이름을 입력해 주세요")
type(name)

이름을 입력해 주세요홍길동

str

### 주석

In [157]:
# 한 줄 주석

# 여러줄 주석용도로 docstring  사용 가능

"""
독 스트링은 문자열 이다.

하지만 주석 용도로도 가능하다.
"""

'\n독 스트링은 문자열 이다.\n\n하지만 주석 용도로도 가능하다.\n'

In [159]:
mystr = """
독 스트링은 문자열 이다.

하지만 주석 용도로도 가능하다.
"""

In [160]:
type(mystr)

str

In [162]:
print(mystr)

독 스트링은 문자열 이다.

하지만 주석 용도로도 가능하다.

In [163]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [164]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."